<p>
	 <div class="form-inline" style="background-color:#GGGGGG;padding:10px;margin-bottom:1px;">
		       <%= f.input :class_date,as: :string, input_html: { class: 'datepicker' },label: "上課日期" %>
		       <%= f.input :class_content,  input_html: { class: "form-control"},label: "上課內容" %>
		     
		   </div>