 <%#simple_form_for service do |f| %>
 <%= simple_form_for audit_month do |f| %> 
  <div class="form-project">
  	   <%#= f.collection_select(:item_id, Company.all, :id, :company_name) %>
  	   <%#= f.select :company_id, Company.all.map{ |c| [c.company_name, c.id] } %>

    <%#= f.collection_check_boxes(:item_ids, Item.all, :id, :contract_name) %>
       <%= f.input :name,  input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
